{% extends "base.html" %}
{% block title %}rpiQueTemplate{% endblock %}
{% block content %}
    <h1 style="text-align:center;">About us</h1>
    <br>
    <h4 style="text-align:center;"> Created by:</h4>
    <p style="text-align:center;"> Jonas</p>
    <p style="text-align:center;"> Reuben</p>
    <p style="text-align:center;"> Christian</p>
    <p style="text-align:center;"> Oliver</p>

{% endblock %}
