{% extends "base.html" %}
{% block title %}rpiQueTemplate{% endblock %}
{% block content %}
    <h1 style="text-align:center;"> You have now left the queue </h1>
    <h2 style="text-align:center;"> To queue again, please scan the QR code once more </h2>
{% endblock %}